name: Publish Python distributions to Github release

on:
  release:
    types: [created]
    
permissions:
  contents: write
  
env:
  UV_SYSTEM_PYTHON: 1

jobs:
  build-n-publish:
    name: Publish Python distributions to Github release
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        # Install a specific version of uv.
        version: "latest"

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml

    - name: Install dependencies
      run: uv pip install setuptools wheel twine

    - name: Install package + test deps
      run: uv pip install -e ".[test]"

    - name: Run tests
      run: pytest
      
    - name: Build a binary wheel and a source tarball
      run: uv build
      
    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        tag_name: ${{ github.event.release.tag_name }}
        files: dist/pydose_rt*
        token: ${{ secrets.RELEASE_TOKEN }}
